<br/>

<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
		  <table width="100%"><tr>
        <td><h4>Todo Report</h4></td>
        <td align="right"><a href="javascript:history.back();" class="btn btn-default">Back</a></td>
      </tr></table>
  	</div>

		<div class="panel-body">
					
		<%= form_tag({action: :report_index}, method: :get) do |f| %>
		  
          <div class="form-group" id="dd">
              <%= label_tag :department %>
              <%= select(:daycare_department_name, :daycare_department_id, "<option></option>".html_safe, {}, {multiple: true , size: '8', class: 'form-control dd'}) %>
              <br/>

          </div>

          <div class="form-group" id="ut">
              <%= label_tag :user_type %>
              <%= select(:user_type_name, :user_type_id, "<option></option>".html_safe, {}, {multiple: true , size: '8', class: 'form-control ut'}) %>
          </div>

          
          <br class="clear" />
          <div class="col-md-offset-5">
              <%= submit_tag "Next", class: "btn btn-primary" %>
          </div>
          
        <% end %>
					
		</div>
		
	</div>
</div>

<!-- Scripts and styles -->
<script>

    function getUserTypes(){
      
        $.post("/user_types/get_user_types",
            {
                customer_type: 1,
                customer_id: <%= session[:customer_id] %>
            },
            
            function(data){
                
                  // All
                  $(".ut").empty();
                  
                  $.each(data, function(i, item) {
                    if (item.user_type_name != "Daycare Manager"){
                      $(".ut").append('<option value="'+ item.id +'">'+ item.user_type_name +'</option>');
                    }
                  });
                  
            } , "json");
    }

    function getUserDepartments(){

        $.post("/daycare_departments/get_departments",
            {
              customer_type: 1,
              customer_id: <%= session[:customer_id] %>
            },
            
            function(data){
                
                  // All
                  $(".dd").empty();
                  //$(".ut").append("<option></option>");

                  $.each(data, function(i, item) {
                    $(".dd").append('<option value="'+ item.id +'">'+ item.department_name +'</option>');
                  });
                  
            } , "json");
    }

    // doc ready
    $(function(){
        $("#slogan").html("TODO");

        getUserDepartments();

        getUserTypes();
    });

</script>

<style>
#topbar {
    background-color: #1f80b7;
}
.nameBox { 
    border:2px solid #ccc;
    width:100%; 
    height: 200px; 
    overflow-y: scroll;
    padding: 10px;
    text-align:left;
    margin-bottom:10px;
}
.c {
  width: 70% !important;
  margin: 7px;
}

.m{
  border: 1px solid #ccc;
}

.ddl{
 -ms-transform: scale(1.5); 
 -moz-transform: scale(1.5); 
 -webkit-transform: scale(1.5); 
 -o-transform: scale(1.5); 
  padding: 5px;
}
.btn-primary {
  background-color: #f05c51;
  border-color: #f05c51;
}
</style>