<br/>

<div class="col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Create Daycare</h4>
    </div>

    <div class="panel-body">

      <%= form_tag({action: :create}) do |f| %>

          <div class="form-group">
            <%= label_tag :daycare_name %>
            <input class="form-control" id="customer_name" name="customer_name" required="required" type="text"/>
          </div>

          <div class="form-group">
            <%= label_tag :address %>
            <textarea class="form-control" id="address" name="address"></textarea>
          </div>

          <div class="form-group">
            <%= label_tag :country %>
            <%= country_select :country, nil, {}, {prompt: 'Please select a country', class: "form-control", id: "country", name: "country"} %>
          </div>

          <div class="form-group">
            <%= label_tag :email %>
            <input class="form-control" id="email" name="email" required="required" type="text"/>
          </div>

          <br/>

          <div class="form-group">
            <label for="txtSubjects" class="control-label">Daycare Departments:</label>
            <a id="lnkDepts" href="#" class="pull-right" onclick="addDeptRow(0);">Add More +</a>
            <table class="table">
              <tbody id="depts-tbl">
              <tr>
                <td>Daycare department name: <input class="form-control" id="department_name[0]" name="department_name[0]" type="text"/></td>
              </tr>
              </tbody>
            </table>
          </div>

          <br class="clear"/><br/>

          <div class="col-md-offset-5">
            <%= hidden_field_tag("user_id", params[:user_id]) %>
            <%= submit_tag "Next", class: "btn btn-primary" %>
          </div>

      <% end %>

    </div>

  </div>
</div>

<!-- Scripts and styles -->
<script>

    // doc ready
    $(function () {
        $("#slogan").html("REGISTER");

    });

    function addDeptRow(num) {
        inum = parseInt(num) + 1;
        $("#depts-tbl").append('<tr>'
                + '<td>Daycare department name: <input class="form-control" id="department_name[' + inum + ']" name="department_name[' + inum + ']" type="text" /></td>'
                + '</tr>');

        $("#lnkDepts").attr("onclick", "addDeptRow(" + inum + ")");
    }

</script>

<style>
    .btn-primary {
        background-color: #f05c51;
        border-color: #f05c51;
    }
</style>
