<br/>

<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
		<table width="100%"><tr>
            <td><h4>Edit Customer Types</h4></td>
            <td><a data-toggle="modal" href="#" class="pull-right" data-target="#customerTypeModal">+ add new type</a></td>
        </tr></table>
		</div>

		<div class="panel-body">
		
        <table class="table table-striped" id="tbl">
            <thead>
              <tr>
                <th>Department name</th>
              </tr>
            </thead>
            <tbody>
            <% @customer_types.each do |type| %>
              <tr>
                <td><%= type.type_name %>
                <div class="pull-right">
                    <%= link_to "delete", customer_type_path(id: type.id), method: :delete, data: {confirm: "Are you sure?"} %>
                     | 
                    <a href="#" data-toggle="modal" data-target="#typeModal" data-id="<%= type.id %>" data-type_name="<%= type.type_name %>">edit</a>
                </div>
                </td>
              </tr>
            <%end%>
            </tbody>
        </table>
        
		</div>
		
	</div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for @customer_type, url: customer_types_path, method: :patch, html: {role: "form"} do |f| %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Edit Customer Type</h4>
            
            </div>
            <div class="modal-body">
                
            		  <div class="form-group">
                          <%= f.label :type_name%>
                          <%= f.text_field :type_name, class: "form-control" %>
                      </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= submit_tag "Update", class: "btn btn-primary pull-right" %>
            </div>
            
            <% end %>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="customerTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Add New Customer Type</h4>
            
            </div>
            <div class="modal-body">
                
                <%= form_for @customer_type, url: customer_types_path, html: {role: "form"} do |f| %>
            		  <div class="form-group">
                          <%= f.label :type_name%>
                          <%= f.text_field :type_name, class: "form-control", id: "type_name2" %>
                      </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="customer_type_btn">Add</button>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function(){
        $("#slogan").html("ADD CUSTOMERS");
        
        //Edit modal data bind
        $('#typeModal').on('show.bs.modal', function (event) {
          var a = $(event.relatedTarget);
          var id = a.data('id');
          var name = a.data('type_name');
          
          var modal = $(this);
          modal.find('.modal-body #customer_type_type_name').val(name);
          modal.find('.modal-content form').attr("action", "/customer_types/" + id)
        });
        
        // prevent modal forms submission
        $("form").eq(1).submit(function(e) {       
          e.preventDefault();
        });
          
        // Add customer type and append to list
        $("#customer_type_btn").on("click", function(){
            $.post("/customer_types",
              {
                  type_name: $("#type_name2").val()
              },
              function(data){
                
                $("#type_name2").val('');
                $("#tbl tr:last").after('<tr>'
                +'<td>' + data.type_name
                +'<div class="pull-right">'
                +'<a data-confirm="Are you sure?" data-method="delete" href="/customer_types/'+ data.id +'" rel="nofollow">delete</a> | ' 
                +'<a href="#" data-toggle="modal" data-target="#typeModal" data-id="'+ data.id +'" data-type_name="'+ data.type_name +'">edit</a>'
                +'</div></td></tr>');
                  
              } , "json");
        });
          
    });
</script>

<style>
#topbar {
    background-color: #1a8a8f;
}

</style>