<div class="modal-header">
  <table width="100%">
    <tr>
      <td><h4>Edit Customer Types</h4></td>
      <td><a data-toggle="modal" href="#" class="pull-right" data-target="#customerTypeModal">+ add new type</a></td>
    </tr>
  </table>
</div>
<div class="modal-body">

  <table class="table table-striped" id="tblCustomerTypes">
    <thead>
    <tr>
      <th>Customer type</th>
    </tr>
    </thead>
    <tbody>
    <% @customer_types.each do |type| %>
        <tr id="<%= type.id %>">
          <td><%= type.type_name %>
            <div class="pull-right">
              <a href="javascript:void(0);" onclick="deleteType('<%=type.id%>');" data-confirm="Are you sure?">delete</a>
              |
              <a href="#" data-toggle="modal" data-target="#typeModal" data-id="<%= type.id %>" data-type_name="<%= type.type_name %>">edit</a>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 90%;">
    <div class="modal-content">
      <%= form_for @customer_type, url: customer_types_path, method: :patch, html: {role: "form"} do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Customer Type</h4>

          </div>
          <div class="modal-body">

            <div class="form-group">
              <%= f.label :type_name %>
              <%= f.text_field :type_name, class: "form-control" %>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default mClose2">Close</button>
            <button type="button" class="btn btn-primary mClose2" id="customer_type_btn2">Update</button>
          </div>

      <% end %>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="customerTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add New Customer Type</h4>

      </div>
      <div class="modal-body">

        <%= form_for @customer_type, url: customer_types_path, html: {role: "form"} do |f| %>
            <div class="form-group">
              <%= f.label :type_name %>
              <%= f.text_field :type_name, class: "form-control", id: "type_name2" %>
            </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default mClose1">Close</button>
              <button type="button" class="btn btn-primary mClose1" id="customer_type_btn">Add</button>
        <% end %>
        </div>
        </div>
  </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function () {
        $("#slogan").html("ADD CUSTOMERS");

        $(".mClose1").on("click", function () {
            $('#customerTypeModal').modal('hide');
        });

        $(".mClose2").on("click", function () {
            $('#typeModal').modal('hide');
        });

        //Edit modal data bind
        $('#typeModal').on('show.bs.modal', function (event) {
            var a = $(event.relatedTarget);
            var id = a.data('id');
            var name = a.data('type_name');

            var modal = $(this);
            modal.find('.modal-body #customer_type_type_name').val(name);
            modal.find('.modal-content form').attr("action", "/customer_types/" + id)
            modal.find('.modal-footer #customer_type_btn2').attr("onclick", "updateType(" + id + ")")
        });

        // prevent modal forms submission
        //$("form").eq(0).submit(function(e) {       
        //  e.preventDefault();
        //});
        //$("form").eq(1).submit(function(e) {       
        //  e.preventDefault();
        //});

        // Add customer type and append to list
        $("#customer_type_btn").on("click", function () {
            $.post("/customer_types",
                    {
                        type_name: $("#type_name2").val()
                    },
                    function (data) {

                        $("#type_name2").val('');
                        $("#tblCustomerTypes tr:last").after('<tr id="' + data.id + '">'
                                + '<td>' + data.type_name
                                + '<div class="pull-right">'
                                + '<a href="javascript:void(0);" onclick="deleteType(\'' + data.id + '\');" data-confirm="Are you sure?">delete</a> | '
                                + '<a href="#" data-toggle="modal" data-target="#typeModal" data-id="' + data.id + '" data-type_name="' + data.type_name + '">edit</a>'
                                + '</div></td></tr>');

                        $(".ct").append('<option value=' + data.id + '>' + data.type_name + '</option>');

                    }, "json");
        });

    });

    // Delete
    function deleteType(id) {
        $.ajax({
            url: '/customer_types/' + id,
            type: 'DELETE',
            success: function (result) {
                $('table#tblCustomerTypes tr#' + id).remove();
                $(".ct option[value='" + id + "']").remove();
            }
        });

    }

    // Update
    function updateType(id) {

        data = {type_name: $("#customer_type_type_name").val(), _method: 'patch'};
        url = "/customer_types/" + id
        request = $.post(url, data);
        request.done(function (data) {
            $('table#tblCustomerTypes tr#' + data.id).html('<td>' + data.type_name
                    + '<div class="pull-right">'
                    + '<a href="javascript:void(0);" onclick="deleteType(\'' + data.id + '\');" data-confirm="Are you sure?">delete</a> | '
                    + '<a href="#" data-toggle="modal" data-target="#typeModal" data-id="' + data.id + '" data-type_name="' + data.type_name + '">edit</a>'
                    + '</div></td>');

            $(".ct option[value='" + id + "']").html(data.type_name);

        });
    }

</script>

<style>
    #topbar {
        background-color: #1a8a8f;
    }

</style>