<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daycare SuperAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default maxWidth" id="topbar" style="padding-bottom: 10px;">
		<div class="container-fluid maxWidth">
			<div class="navbar-header maxWidth top7" id="sloganbar">
			  <span class="white" id="slogan"><br/>AS SUPER ADMIN</span>
			  
        
        <span class="pull-right white">
          <a href="#" id="hamburger" class="pull-right white" data-toggle="collapse" data-target="#menu"><img src="/assets/threelines.png" width="40" height="25" style="margin-bottom: 10px;" /></a>

          <br class="clear" />
        <div id="menu">
        
			      <%= link_to("Home", home_path, :class => "white")%> | 
			      <%= link_to("Edit Profile", edit_admin_path(session[:admin_id].to_i), :class => "white") %> | 
			      <%= link_to("Log out", logout_path, :class => "white")%>
			  
         </div>
        </span>

			</div>
		</div>


  </nav>
	

<div class="container">
    
      <% flash.each do |message_type, message| %>
          <div class="top7 alert alert-<%= message_type %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= message %></div>
      <% end %>

	<div class="row">
      <%= yield %>
    </div>
    
</div>

<script>
$(function(){
    $("#menu").hide();
    $("#hamburger").on("click", function(){

      $("#menu").toggle();

    });
});
</script>

</body>
</html>
